<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970082657610-4v6hkmofrg15qmppej5ksfsgrgn2hl78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970082657610-4v6hkmofrg15qmppej5ksfsgrgn2hl78</string>
	<key>API_KEY</key>
	<string>AIzaSyDCMl86mdjkZThlxRz8LNsG7W6vBV90csI</string>
	<key>GCM_SENDER_ID</key>
	<string>970082657610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.workit</string>
	<key>PROJECT_ID</key>
	<string>work-it-eb8a3</string>
	<key>STORAGE_BUCKET</key>
	<string>work-it-eb8a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970082657610:ios:bc82c0b2cff58f18ba0db3</string>
</dict>
</plist>